:root {
  --primary-color: #007acc;
  --secondary-color: #0099ff;
  --text-color: #fff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 20px;
}

header h1 {
  font-size: 36px;
  margin: 0;
}

.search-bar {
  margin-top: 10px;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: none;
}

.search-bar button {
  background-color: var(--secondary-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: var(--primary-color);
}

.nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline;
}

nav,
main {
  padding: 20px;
}

h3 {
  font-size: 24px;
  margin: 0;
}

footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px;
  text-align: center;
  margin-top: auto;
}

footer a {
  color: var(--text-color);
  margin: 0 10px;
}
.fetaures-div,
.objectives-div {
  padding-left: 20px;
}
